.card{
    a{
        float: right;
        margin-right: 30px;
    }
}

.create-container, .edit-container{
    label{
        margin-top:30px
    }

    .btn{
        padding: 5px 20px;
    }

    a{
        float: right;
    }
}

i{
    margin: 5px;
}




